@page ""
@model GQChat.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
}

<title>GQChat: Главная страница</title>

<!--Как тут сделать CSS!?-->
<h1 class="Main">GQChat</h1>

<br id="hr1" />

<h3>Описание</h3>
<p>Это новый чат менечер для общение</p>

<h2>Плюсы</h2>

<h3>Безопастность</h3>
<hr />
<p>Наша программа использует <a href="~/Images/android-chrome-512x512.png">RSA</a></p>
<p>Для передачи паролей и почт мы используем <a href="https://f">MD5</a></p>
<p>Передача идёт на сервер через <a href="https://f1">SSL</a>. Такие данные сложно перехватить</p>
<p>Даже в базе данных работает <a href="https://f">MD5</a>!</p>
<p>Если нас взломают, то не кто не узнает ваш email и пароль</p>

<br id="hr2" />

<h3>Удобность</h3>
<hr />
<p>Наша программы оптимизирована</p>
<p>Легкий дизайн <b>(Kjk)</b></p>

<a href="https://github.com/gladitop/GQChat">github</a>